<!DOCTYPE html>
<html lang="en" style="height:100%;">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <title>kmtracker</title>
    <style>
      @media only screen and (min-width: 768px) {
        body {
          background:transparent url('<%=BASE_URL%>SnowBG.jpg') no-repeat fixed;
          background-attachment: fixed;
          background-size:100%;
          height:100%;
          overflow:hidden;
        }

        html {
          overflow: hidden !important;
        }
      }

      @media only screen and (max-width: 768px) {
        body {
          margin-top:50px !important;
        }
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but kmtracker doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
