<template>
    <div>
        <b-field label="Trail Name">
            <b-input minlength="2" maxlength="200"></b-input>
        </b-field>
        <b-field label="Distance (km)">
            <b-input type="number" max="1000" min="-1000"></b-input>
        </b-field>
    </div>
</template>

<script>

</script>